* {
  line-height: 1;
  margin: 0;
  padding: 0
}

a img {
  border: 0
}

.ft_red {
  color: #ae1914
}


body {
  background-color: #0a0a0a!important;
  font-family: serif;
  font-size: 16px;
  text-align: center
}

#wrapper {
  margin: 0 auto;
  padding: 70px 0 50px;
  width: 958px
}

#content #right {
    margin-top: 0px; 
}

h1 {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: bold;
  margin: 0 auto 30px
}

#main {
  margin: 0 auto;
  overflow: hidden
}

#videobox {
  width: 100%;
}

#formbox {
	margin-top: 30px;
}

#blackbox {
  background: #000;
  color: #fff;
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: clamp(20px, 4vw, 26px);
  font-weight: bold;
  margin: 0 auto 15px;
  padding: 15px;
  width: 100%;
}

#blackbox .title {
  line-height: 130%;
  margin: 0 auto 15px
}

#blackbox .elm {
  margin: 0 auto 10px
}

#blackbox input[name="name"],
#blackbox input[name="email"] {
  border: none;
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 5px 6px;
  width: 210px;
  text-align: center
}

#blackbox .btn input[name="sbm"] {
  background: #b2cf00;
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  border-right: solid 1px #858585;
  border-bottom: solid 3px #759d00;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: clamp(14px, 4vw, 17px);
  font-weight: bold;
  padding: 15px 0;
  padding-bottom: 30px;
  width: 218px;
}

/* スマホ最適化 */
@media (max-width: 768px) {

#blackbox .btn input[name="sbm"] {
  padding: 0px 0;
	}

}


.imp {
  color: #333;
  font-family: "Hiragino Maru Gothic Pro", "HG丸ゴシックM-PRO", verdana, arial, sans-serif;
  font-size: 15px
}

#xpomov {
  margin-bottom: 10px
}

.already {
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: clamp(20px, 4vw, 24px);
  font-weight: bold;
  text-shadow: 1px 1px 5px #ccc
}

#footer {
  color: #666;
  font-size: 12px;
  overflow: hidden;
  padding: 0 0 30px
}

#ftnav {
  overflow: hidden;
  padding: 2px 0;
  position: relative
}

#ftnav ul {
  float: left;
  left: 50%;
  list-style: none;
  position: relative
}

#ftnav li {
  float: left;
  left: -50%;
  margin-right: 5px;
  position: relative
}

#ftnav li::after {
  color: #ccc;
  content: "|";
  margin-left: 5px
}

#ftnav li:nth-last-of-type(1) {
  margin-right: 0
}

#ftnav li:nth-last-of-type(1)::after {
  content: "";
  margin-left: 0
}

#grayLayer {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%
}

#exitbox {
  background: #fffefb;
  box-shadow: 0 0 5px 0 #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  display: none;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 700px
}

#exitbox h1 {
  background: #333a39;
  color: #fff;
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 20px
}

#ex_content {
  overflow: hidden;
  padding-bottom: 20px
}

#ex_left {
  background: url(exitarrow.png) no-repeat right 110px;
  float: left;
  margin-left: 20px;
  margin-right: 10px;
  padding-right: 80px;
  text-align: left;
  width: 270px
}

#ex_left p {
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 140%;
  white-space: nowrap
}

#ex_form {
  float: right;
  margin-right: 20px
}

#ex_form h2 {
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
  margin-left: -5px
}

#ex_formbox {
  background: #fbf8f5;
  border: 1px solid #eceae7;
  padding: 15px;
  text-align: center;
  width: 260px
}

#ex_formbox .title {
  color: #f91b00;
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px
}

#ex_formbox input[name="name"],
#ex_formbox input[name="email"],
#ex_formbox input[name="sbm"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
  width: 100%
}

#ex_formbox input[name="name"],
#ex_formbox input[name="email"] {
  border: 1px solid #e1e0de;
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 5px 6px;
  text-align: center
}

#ex_formbox input[name="sbm"] {
  background: #00ba00;
  background: -webkit-linear-gradient(top, #00cd00 0%, #00c700 50%, #00bc00 50%, #00ba00 100%);
  background: -moz-linear-gradient(top, #00cd00 0%, #00c700 50%, #00bc00 50%, #00ba00 100%);
  background: -o-linear-gradient(top, #00cd00 0%, #00c700 50%, #00bc00 50%, #00ba00 100%);
  background: -ms-linear-gradient(top, #00cd00 0%, #00c700 50%, #00bc00 50%, #00ba00 100%);
  background: linear-gradient(top, #00cd00 0%, #00c700 50%, #00bc00 50%, #00ba00 100%);
  border: 3px solid #09c809;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  color: #fff;
  font-family: "ヒラギノ角ゴ StdN W8", "Hiragino Kaku Gothic StdN", "HGP創英角ｺﾞｼｯｸUB", "HGPSoeiKakugothicUB", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
  padding-bottom: 30px;
}

#exit {
  bottom: 5px;
  background: #cacaca;
  background: -webkit-linear-gradient(top, #efefef 0%, #e4e4e4 20%, #d7d7d7 50%);
  background: -moz-linear-gradient(top, #efefef 0%, #e4e4e4 20%, #d7d7d7 50%);
  background: -o-linear-gradient(top, #efefef 0%, #e4e4e4 20%, #d7d7d7 50%);
  background: -ms-linear-gradient(top, #efefef 0%, #e4e4e4 20%, #d7d7d7 50%);
  background: linear-gradient(top, #efefef 0%, #e4e4e4 20%, #d7d7d7 50%);
  border: 2px solid #d3d3d2;
  cursor: pointer;
  display: block;
  float: right;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "HGP創英角ｺﾞｼｯｸUB", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 10px;
  position: absolute;
  right: 5px
}